sudo: false
language: node_js
node_js:
  - '7'
  - '6'
  - '4'

cache:
  directories:
    - $HOME/.npm
    - node_modules

before_install:
  - 'npm install --global npm'
  - 'npm install'

before_script:
  - 'npm prune'
  - 'npm test'